// UIKIT
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

// Variables
@import 'mixins';
@import 'variables';
@import 'dashboard';

// Navbar

#header {
  box-shadow: 0px 0px 10px 0px rgba($color-basic, .35);
}

#logo span {
  color: $color-primary;
}

// Footer

#footer {
  .uk-heading-bullet::before {
    border-left: calc(5px + 0.1em) solid $color-primary;
  }
}

// Home page
#post-header {
  height: calc(100vh - 80px);
}

#dishes {

  .uk-card {
    @include rounded();

    img {
      @include top-rounded();
    }
  }
}

#menu {

  .uk-card {
    overflow: hidden;
    img {
      transition: .2s ease-in-out;
    }
  }

  .uk-card:hover {
    img {
      transform: scale(1.2);
    }
  }
}


#customers {

  .customer-comment {
    padding: 40px 60px;
    @include rounded();
  }
}

// Menu page

.uk-tab > .uk-active > a {
  border-color: $color-primary;
}

#menu-items {

  .uk-media {

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
